
:root {
  --global-body-font-family: 'Gwendolyn', cursive;
  --global-palette3: #a06342; /* cor para títulos */

  --architects-font-family: 'Architects Daughter', cursive; /* nova fonte */
  --black-color: #000000;
}

.font-global-body {
  font-family: var(--global-body-font-family);
}

.text-global-palette3 {
  color: var(--global-palette3);
}

.font-architects {
  font-family: var(--architects-font-family);
  color: var(--black-color);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #6B4423;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: #F6F1E7;
}


img.img-global {
  border-radius: 24px;
  max-width: 100%;
  height: auto;
  display: block;
}

div[role='button'] {
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.3s ease;
}

div[role='button']:focus,
div[role='button']:hover {
  box-shadow: 0 10px 20px rgba(193, 160, 90, 0.5); /* sombra dourada suave */
}


h3 {
  font-size: 1.5rem; /* 24px */
  font-family: 'Gwendolyn', cursive;
  color: var(--global-palette3);
  margin: 0;
  padding: 1.5rem 0;
}


.bg-neve {
  background-color: #F6F1E7;
}

.text-cafe {
  color: #5C4033;
}
